<div class="full-bleed settings" ng-controller="PlaybackSettingsController">
    <div class="settings-wrapper">
        <ul class="collection ">
            <li class="collection-item" ng-click="voiceName()">
                <div class="left-item" style="width: 40%">Voice Name</div>
                <div class="right-item" id="voice_name">Google US English</div>
            </li>
            <li class="collection-item" ng-click="defaultVolume()">
                Default Volume Level
            </li>
            <li class="collection-item" ng-click="speechRate()">
                Speech Rate
            </li>
            <li class="collection-item" ng-click="pitch()">
                Pitch
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript" src='scripts/jscolor.min.js'></script>