<div class="full-bleed settings" ng-controller="BackupSettingsController">
    <div class="settings-wrapper">
        <div class="collection-section">
            <p class="sub-header">Backup</p>
            <div class="collection ">
                <a class="collection-item" ng-click="backupConfiguration()">Backup Configuration</a>
                <a class="collection-item" ng-click="backupKeys()">Backup Keys</a>
            </div>
        </div>

        <div class="collection-section">
            <p class="sub-header">Restore</p>
            <div class="collection ">
                <a class="collection-item" ng-click="restoreConfiguration()">Restore Configuration</a>
                <a class="collection-item" ng-click="restoreAllSettings()">Restore All Settings</a>
            </div>
        </div>

        <div class="collection-section">
            <p class="sub-header">Danger Zone</p>
            <div class="collection ">
                <a class="collection-item" ng-click="resetConfiguration()">Reset Configuration</a>
                <a class="collection-item" ng-click="deleteKeys()">Delete Keys</a>
            </div>
        </div>
    </div>
</div>