<div class="full-bleed settings" ng-controller="BlacklistSettingsController">
    <div class="settings-wrapper">
        <div class="collection">
            <a ui-sref='app.blacklist-websites' class="collection-item">Blacklist Websites</a>
            <a ui-sref='app.blacklist-words' class="collection-item">Blacklist Words</a>
            <a class="collection-item">
            	<div class="left-item">Automatic Blacklisting</div>
                    <div class="right-item">
                        <div class="switch">
                            <label>
						      <input type="checkbox" ng-checked="opctrl.autoBlacklist">
						      <span class="lever" ng-click="toggleSwitch($event)"></span>
						    </label>
						 </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>