<div class="full-bleed settings" ng-controller="BlacklistWebsiteController">
    <div class="settings-wrapper">
        <div class="collection">
            <a class="collection-item" ng-repeat="website in opctrl.blacklistedWebsites">
                <div class="left-item">
                    {{website}}
                </div>
                <div class="right-item">
                    <i class="material-icons" ng-click="opctrl.removeBlackListedWebsite(website)">delete</i>
                </div>
            </a>

        </div>
        <div class="add-btn-wrapper">
            <a class="btn-floating btn-large waves-effect waves-light red" ng-click="add()"><i class="material-icons">add</i></a>
        </div>
    </div>
</div>