<div class="row container full-bleed" ng-controller="HomeController">
    <div class="search-field-wrapper col s12 ">
        <div class="input-field col s12 no-material">
            <input placeholder="Enter Url" id="url" type="text" ng-model="url">
        </div>
        <div class="input-field">
            <a class="waves-effect waves-light btn search-btn" ng-click="openUrl()">Search</a>
        </div>
    </div>

    <div class="patterns-wrapper">
        <div class="head bar">
            <p>Patterns</p>
           <!--  <div class="selector">
                <select name="pattern">
					<option value="Yandex">Yandex</option>
					<option value="Bing">Bing</option>
					<option value="Google">Google</option>
				</select>
            </div> -->
        </div>
        <div class="pattern-list-wrapper">
            <div class="pattern-list collection">
                <a class="pattern-item collection-item" ng-repeat="(index, pattern) in opctrl.patterns" ng-class="{'active': pattern[3]}" ng-click="opctrl.activatePattern($index)">
                <span class="pattern-wrapper">
                {{pattern[4]}} - 
                <span class="percentage">{{pattern[2]}}%</span>
                of 
                <span class="language1">{{pattern[0][1]}}</span>
                to 
                <span class="language2">{{pattern[1][1]}}</span>
                </span>
                <span class="delete-btn">
                <i class="material-icons" ng-click="opctrl.deletePattern(index, $event)">delete</i>
                </span>
                </a>
            </div>
            <!-- <a class="btn-floating btn-large waves-effect waves-light halfway-fab pull-menu up " ng-click="toggleMenu($event)"><i class="material-icons">expand_more</i></a> -->
        </div>
        <div class="bottom bar visible">
            <div class="selector-wrapper row">
                <div class="selector col l4 s12">
                    <p class="selector-label">Translator</p>
                    <select name="pattern" ng-model="opctrl.translator" ng-change="opctrl.changeTranslator()" class="browser-default" ng-class="{'disable-panel': opctrl.noKeys() === true}">
                        <option ng-if="!opctrl.hasKey('Yandex')">Yandex</option>
                        <option ng-if="!opctrl.hasKey('Google')">Google</option>
                        <option ng-if="!opctrl.hasKey('Bing')">Bing</option>
                    </select>
                </div>
                <div class="selector col l4 s12">
                    <p class="selector-label">Percentage</p>
                    <select name="percentage" ng-model="opctrl.percentage" class="browser-default" ng-class="{'disable-panel': opctrl.noKeys() === true}">
    					<option>10</option>
                        <option>15</option>
                        <option>20</option>
                        <option>25</option>
                        <option>30</option>
                        <option>35</option>
                        <option>40</option>
                        <option>45</option>
                        <option>50</option>
                        <option>55</option>
                        <option>60</option>
                        <option>65</option>
                        <option>70</option>
    				</select>
                </div>
                <div class="selector col l4 s12">
                    <p class="selector-label">Source</p>
                    <select name="srcLang" id="srcLang" ng-model="opctrl.srcLang"  class="browser-default">
    					<option ng-repeat="(language, code) in opctrl.languages" ng-value="code">{{language}}</option>
    				</select>
                </div>
                <div class="selector col l4 s12">
                    <p class="selector-label">Target</p>
                    <select name="targetLang" id="targetLang" ng-model="opctrl.targetLang" class="browser-default">
    					<option ng-repeat="(language, code) in opctrl.languages" ng-value="code">{{language}}</option>
    				</select>
                </div>
            </div>
            <div class="create-btn-wrapper">
                <a class="waves-effect waves-light btn create-btn white" ng-click="opctrl.createPattern()">Create</a>
            </div>
        </div>
    </div>
</div>


