<div id="modal1" class="modal" ng-controller="ModalController">
    <div class="modal-content">
        <h5>{{ modal_header }}</h5>
        <div class="modal-data"></div>
    </div>
    <div class="modal-footer">
        <a class="modal-action blue-text waves-effect waves-green btn-flat" ng-click="submit()">Add</a>
    </div>
</div>

<div id="modal2" class="modal" ng-controller="ModalController">
    <div class="modal-content">
        <h5>{{ modal_header }}</h5>
        <div class="modal-data"></div>
    </div>
    <div class="modal-footer">
        <a class="modal-action blue-text waves-effect waves-green btn-flat" ng-click="cancel()">Cancel</a>
        <a class="modal-action blue-text waves-effect waves-green btn-flat" ng-click="confirm()">Confirm</a>
    </div>
</div>