<div class="full-bleed settings" ng-controller="SettingsController">
    <div class="settings-wrapper">
        <div class="collection">
            <a ui-sref='app.translation' class="collection-item">Translation</a>
            <a ui-sref='app.blacklist' class="collection-item">Blacklist</a>
            <a ui-sref='app.learning' class="collection-item">Learning</a>
            <a ui-sref='app.backup' class="collection-item">Backup</a>
            <a ui-sref='app.advanced' class="collection-item">Advanced</a>
        </div>
    </div>
</div>