page-difficulty-buckets {
	ion-grid {
		padding: 0 !important;
	}


	ion-col {
		display: flex;
		justify-content: center;
		align-items: center;

		p{
			margin: 0 !important;
		}
		button {
			margin: 0 !important;
			height: initial !important;
		}
	}
}
