<div class="full-bleed settings" ng-controller="DifficultyBucketsController">
    <div class="heading">
        <p>Word</p>
        <p>Difficulty Level</p>
    </div>
    <div class="settings-wrapper">
        <div class="collection with-division">
            <a class="collection-item" ng-repeat="word in opctrl.difficultyBucketsWords" ng-switch="opctrl.difficultyBuckets[word]">
                <div class="left-item ">
                    <p>{{word}}</p>
                    <span class="colon">:</span>
                    <p ng-switch-when='e'>Easy</p>
                    <p ng-switch-when='n'>Normal</p>
                    <p ng-switch-when='h'>Hard</p>
                </div>
                <div class="right-item">
                    <i class="material-icons" ng-click="opctrl.removeWordFromDifficultyBucket(word)">delete</i>
                </div>
            </a>

        </div>
        <div class="add-btn-wrapper">
            <a class="btn-floating btn-large waves-effect waves-light red" ng-click="add()"><i class="material-icons">add</i></a>
        </div>
    </div>
</div>